{# 
    Ce bloc affiche la page de liste des articles.
    Il inclut un formulaire de filtre et affiche les articles selon les critères de recherche.
#}

{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    {% include 'article/_filter.html.twig' %}
    <div class="container">
        <h1>Résultat de votre recherche</h1>
        {% if articles is empty %}
            <p>Aucun article trouvé.</p>
        {% else %}
            <ul class="article-list">
                {% for article in articles %}
                        {% include 'article/_small_card.html.twig' %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
