{% extends 'base.html.twig' %}

{% block title %}Liste des articles de l'utilisateur
{% endblock %}

{% block body %}
	{% include 'article/_filter.html.twig' %}
	<div class="container">
		<a href="{{ path('article_create') }}" class="primary-btn">Créer un nouvel article</a>
		<a href="{{ path('user_profile', {'id': app.user.id}) }}" class="primary-btn">Voir le profile utilisateur</a>
		<h2>Mes Articles Publiés</h2>
		<ul class="article-list">
			{% if publishedArticles is empty %}
				<li>Aucun article publié trouvé.</li>
			{% else %}
				{% for article in publishedArticles %}
					{% include 'article/_modification_card.html.twig' %}
				{% endfor %}
			{% endif %}
		</ul>
	    <h2>Mes Articles Non Publiés</h2>
		<ul class="article-list">
			{% if unpublishedArticles is empty %}
				<li>Aucun article non publié trouvé.</li>
			{% else %}
				{% for article in unpublishedArticles %}
					{% include 'article/_modification_card.html.twig' %}
				{% endfor %}
            {% endif %}
		</ul>
	</div>
{% endblock %}
