{# 
    Ce bloc affiche la page de liste des articles de l'utilisateur publiés et non publiés.
	Il inclut un formulaire de filtre et affiche les articles selon les critères de recherche.
	Il permet à l'utilisateur de gérer ses articles publiés et non publiés, ainsi que d'avoir acces à la création de nouveau article et à la modification de son profil.
	Il est utilisé pour permettre aux utilisateurs de visualiser et de modifier leurs propres articles.
#}

{% extends 'base.html.twig' %}

{% block title %}Liste des articles de l'utilisateur
{% endblock %}

{% block body %}
	{% include 'article/_filter.html.twig' %}
	<div class="container">
		<div class="user-actions">
			<a href="{{ path('article_create') }}" class="btn btn-primary">Créer un nouvel article</a>
			<a href="{{ path('user_profile', {'id': app.user.id}) }}" class="btn btn-secondary">Voir le profil utilisateur</a>
		</div>
		<h1>Liste des articles de {{ app.user.pseudo }}</h1>
		<h2>Mes Articles Publiés</h2>
		<ul class="article-list">
			{% if publishedArticles is empty %}
				<li>Aucun article publié trouvé.</li>
			{% else %}
				{% for article in publishedArticles %}
					{% include 'article/_modification_card.html.twig' %}
				{% endfor %}
			{% endif %}
		</ul>
	    <h2>Mes Articles Non Publiés</h2>
		<ul class="article-list">
			{% if unpublishedArticles is empty %}
				<li>Aucun article non publié trouvé.</li>
			{% else %}
				{% for article in unpublishedArticles %}
					{% include 'article/_modification_card.html.twig' %}
				{% endfor %}
            {% endif %}
		</ul>
	</div>
{% endblock %}
